<hr>
<sub>Licens: Apache 2.0 | © 2023 Marcus Medina, Campus Mölndal. Alla rättigheter förbehållna.<br>Du får använda och modifiera detta verk enligt villkoren i Apache License, Version 2.0. Du får inte använda detta verk för kommersiella ändamål utan tillstånd från upphovsmannen.</sub></footer>


<script>
    class BionicText {
          constructor(elementId) {
            console.log('BionicText constructor called');
            this.element = document.getElementById(elementId);
            this.originalContent = this.element.innerHTML;
            this.isBold = this._readCookie('isBold') === 'true';
            if (this.isBold) this._applyBoldToTextNodes(this.element);
          }
    
          _setCookie(name, value, days) {
            let expires = '';
            if (days) {
              const date = new Date();
              date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
              expires = '; expires=' + date.toUTCString();
            }
            document.cookie = name + '=' + value + expires + '; path=/';
          }
    
          _readCookie(name) {
            const nameEQ = name + '=';
            const ca = document.cookie.split(';');
            for (let c of ca) {
              while (c.charAt(0) === ' ') c = c.substring(1, c.length);
              if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
          }
    
        toggleBold() {
            this.isBold = !this.isBold;
            this._setCookie('isBold', this.isBold, 7);
            
            if (this.isBold) {
                this._applyBoldToTextNodes(this.element);
            } else {
                window.location.reload();
            }
        }

    
          _applyBoldToTextNodes(node) {
            if (node.nodeType === 3) { 
              this._toggleTextNodeBold(node);
            } else if (node.nodeType === 1) {
              for (const child of Array.from(node.childNodes)) {
                this._applyBoldToTextNodes(child);
              }
            }
          }
    
          _toggleTextNodeBold(textNode) {
            const words = textNode.textContent.split(' ');
            let newContent = [];
    
            for (let word of words) {
              if (word.length > 4) {
                newContent.push(`<strong>${word.slice(0, 3)}</strong>${word.slice(3)}`);
              } else {
                newContent.push(word);
              }
            }
    
            textNode.replaceWith(...newContent.join(' ').split(/(<strong>.*?<\/strong>)/g).map((part, i) => 
              i % 2 === 0 ? document.createTextNode(part) : new DOMParser().parseFromString(part, 'text/html').body.firstChild
            ));
          }
        }
 
        let bionicTextInstance; 

        document.addEventListener("DOMContentLoaded", function() {
        bionicTextInstance = new BionicText('main-content');

        document.getElementById('toggleBoldButton').addEventListener('click', function() {
            console.log("Button clicked");
            bionicTextInstance.toggleBold();
        });
        });

        console.log('Hello World');
    </script>
