<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.2.4/mermaid.min.js">
</script>
<script>
$(document).ready(function() {
  function fixMermaid() {
    // Hämta alla element med class "mermaid"
    var mermaidDivs = document.querySelectorAll('div.mermaid');

    // Loopa genom varje element
    mermaidDivs.forEach(function(mermaidDiv) {
      // Hämta innehållet i elementet
      var content = mermaidDiv.innerHTML;

      // Utför ersättningar
      content = content.replace(/&amp;gt;/g, '>');
      content = content.replace(/&amp;lt;/g, '<');
      content = content.replace(/&gt;/g, '>');
      content = content.replace(/&lt;/g, '<');

      // Uppdatera innehållet i elementet
      mermaidDiv.innerHTML = content;  
    });
  }

  fixMermaid();

  mermaid.initialize({
    // Mermaid-initialiseringsalternativ här
  });
});
</Script>