<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.2.4/mermaid.min.js"></script>
<script>
$(document).ready(function() {
  mermaid.initialize({
    startOnLoad: true,
    htmlLabels: true,
    flowchart: { htmlLabels: true },
    sequence: { htmlLabels: true },
    gantt: { htmlLabels: true },
    class: { htmlLabels: true },
    git: { htmlLabels: true },
  });

  function renderMermaidDiagrams() {
    // Get all elements with class "mermaid"
    var mermaidDivs = document.querySelectorAll('.mermaid');

    // Loop through each element and render the Mermaid diagram
    mermaidDivs.forEach(function(mermaidDiv) {
      var code = mermaidDiv.innerText || mermaidDiv.textContent;

      // Replace special characters using regular expressions
      code = code.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');
      code += "\n";
      try {
        mermaid.mermaidAPI.render('mermaid-' + Math.random(), code, function(svgCode) {
          mermaidDiv.innerHTML = svgCode;
        });
      } catch (e) {
        console.error('Error rendering Mermaid diagram:', e);
      }
    });
  }

  renderMermaidDiagrams();
});
</script>
